<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asus.graduationproject">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DailyMod.ArticleActivity"></activity>
        <activity android:name=".DailyMod.AddRecordActivity" />
        <activity android:name=".DailyMod.RecordActivity" />
        <activity android:name=".AskHelpAcivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="B0KpR8IVm42t4aMKAMZ2zrfkaZeml1yt" />

        <activity android:name=".MainActivity" />
        <activity android:name=".EvaluateMod.GuidenceActivity" />
        <activity android:name=".DailyMod.SurveyActivity" />
        <activity android:name=".DailyMod.StepCountActivity" />
        <activity android:name=".HealthMod.TotalHistoryDataActivity" />
        <activity android:name=".HealthMod.TotalHistoryActivity" />
        <activity android:name=".HealthMod.HistoryExamActivity" />
        <activity android:name=".PersonMod.QuickHelpMod.HelpActivity" />
        <activity android:name=".PersonMod.AdviseActivity" />

        <service
            android:name=".PersonMod.QuickHelpMod.QuickHelpService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".DailyMod.StepCountService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LoginMod.RegisterActivity" />
        <activity android:name=".LoginMod.ForgetActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".LoginMod.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>